/*
CSS for the main container.
*/

body {
    background-color: white;
}

#main_container{
	width: 960px;
	margin: 0 auto;
	margin-bottom:20px;
	background-color: #fff;
	-moz-box-shadow: 0 0 6px #7d7d7d;
	-webkit-box-shadow: 0 0 6px #7d7d7d;
	border:2px solid rgb(0, 145, 237);
	box-shadow: 0 0 6px #7d7d7d;
	border-top: 3px solid #0091ed;
    	background-color: lightgray;
}

#header_container{
	height:260px;
	margin-left:0px;
	margin-right:0px;
	margin-top:-5px;
}

/*
CSS for the menu.
*/

#main_navigation  ul {
	right: 0px;
	width: 960px;
	height: 30px;
	margin: 0px auto;
	margin-top:50px;
	z-index:-1;
	padding-left:0px;
	border:2px solid rgb(0, 145, 237);
	background-color:#FFF;
	box-shadow: 0 0 6px #7d7d7d;
	overflow:hidden;
    	background-color: lightgray;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7f7f7;
}

li.menu {
    float: left;
}

li.menu a {
    display: inline-block;
    color: #000;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

li.menu a:hover {
    background-color: #A4A4A4;
}


ul.body {
    list-style-type: disc;
    color: black;
}
